#title_bar {
    font: 54px "Ubuntu";
    font-weight: bold;
    color: darkcyan;
    background: #2a2a2a;
}

#title_bar box {
    margin: 8px;
}

#title_bar image {
    margin: 8px;
}

#title_bar label {
    margin: 8px;
    margin-left: 8px;
}

#page_cli scrolledwindow {
    margin: 8px;
}

#page_cli textview {
    font: 18px "Ubuntu Mono";
}

#page_cli entry {
    font: 24px "Ubuntu Mono";
    background: #202020;
}