window {
    background: #202020;
}

#title_bar {
    font: 72px "Ubuntu";
    font-weight: bold;
    color: darkcyan;
    background: #303030;
}

#title_bar_inner {
    margin: 8px;
}

label#title_bar_inner {
    margin-left: 8px;
}

notebook box {
    background: #353535; 
}